#container{width:710px;
margin-left:auto;
margin-right:auto;
margin-top:3em;}



header nav{float:right;
white-space:nowrap;
}
header nav ul{margin:0;padding:0;}
header nav ul li{list-style-type:none;
text-decoration:none;

display:inline-block;
margin-left:1em;
}

header nav ul li a{
font-size:1.2em;}






/* Round corners */

.round{
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
}

/* messages */
.flash{color:green;}



/* lists */
.notes{list-style-type:none;
font-size:2em;
background-color:#eee;
width:400px;
Margin-bottom:10px;
padding-left:5px;

}
.students{list-style-type:none;
Margin-bottom:10px;
font-size:1.2em;
}

.float_right{
float:right;
margin-right:1em;}

/* Forms */

.dropdown{height:15px;
color:red;
font-size:1.2em;}