<header>
	<nav class="round">
		<ul>
			<li><%= link_to 'Add Note',  new_note_path %></li>
			<li><%= link_to 'Add Student',  new_student_path %></li>
			<li><%= link_to 'All Students',  students_path %></li>
		</ul>
	</nav>
</header>